#header {
	color: blue;
	font-family: cursive;
}

.ClubName {
	text-align: center;
	font-family: 'Audiowide';
}

.homeLink {
	position:relative;
	left:0px;
	display: inline;
}

.menuLink {
	position: relative;
	left: 20px;
	display: inline;
}

.contactUsLink {
	position: relative;
	left: 40px;
	display: inline;
}

.rowHeader {
	font-weight: bold;
	font-size: larger;
}

#footer {
	font-family: cursive;
	text-align: center;
	color: blue;
}
.requiredField {
	font-weight: bold;
}

a:hover{
	font-weight: bold;
}

a:visited {
	color: red;
}

a:active{
	text-decoration:none;
}

caption{
	font-family: cursive;
	font-weight: bold;
	font-size: larger;
}

#prices table td {
	width: 60%;
	text-align: left;
	padding-left: 25px;
}

all.h2 {
	font-family: 'cursive';
}
.size {
	text-align: center;
}