
@{
    ViewBag.Title = "Routes";
}

<h2>Routes</h2>

<div ng-app="friendsApp" ng-view="">
    

</div>

@section scripts{
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/app/routes.js"></script>
}