
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@section scripts{
    <script>
        //alert(window.name);
        window.open("http://www.google.com", "_blank", null)
        window.open("/Home/AnotherPage?name=TRIBE", "_blank", null)
    </script>
}

