@model HR_Portal.Models.Opening
@{
    ViewBag.Title = "DeleteOpening";
}

<h2>Delete Opening</h2>

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Major</h3>
        @Html.ActionLink("Return to List", "Openings", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.JobId)
            <p>Are you sure that you wish to delete the opening @Html.DisplayFor(m => m.JobTitle)?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "Openings", "Admin", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>     