@model Baseball.Models.ViewModels.LeagueVM

@{
    ViewBag.Title = "ViewLeague";
}

<div class="container">
    <br /><br />
    <h3>Display League</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>
                    <th>League Name</th>
                    <th>Teams in League</th>
                </tr>
            </thead>
            <tbody>
            <td>@Model.League.Name</td>
            <td>
                @foreach (var team in Model.TeamsInLeague)
                {
                    if (team.Id != 0)
                    {
                        <p>@team.Name</p>
                    }
                }
            </td>
            </tbody>
        </table>
    </div>
</div>
